<div class="container-fluid m-t-20">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
          <button class="btn btn-primary" routerLink="/addproducts">Add Products</button>
      </div>
    </div>
  </div>
</div>
<div class="row m-t-20">
  <div class="col-md-offset-1 col-md-10">
      <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>S.NO</th>
                <th>Product Name</th>
                <th>Product Color</th>
                <th>Product Type</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of dataAPI; let i = index" class="text-center">
                <td>{{i+1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.color}}</td>
                <td>{{product.type}}</td>
                <td><button class="btn btn-primary" value="Edit" title="Edit" routerLink="/editproducts/{{product.id}}">Edit</button></td>
                <td><button class="btn btn-primary" value="Delete" title="Delete" (click)="deleteProduct(product.id)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</div>
