/* You can add global styles to this file, and also import other style files */
.m-t-50{
    margin-top:50px;
}
.m-t-20{
    margin-top:20px;
}
.m-l-10{
    margin-left:10px;
}
.m-r-10{
    margin-right: 10px;
}